@font-face {
  font-family: 'LeelawUI';
  src: local('LeelawUI'), url(./assets/fonts/LeelawUI.ttf) format('truetype');
}

@font-face {
  font-family: 'Malgun Gothic';
  src: local('malgun'), url(./assets/fonts/malgun.ttf) format('truetype');
}

@font-face {
  font-family: 'Little Pat';
  src: local('LittlePat'), url(./assets/fonts/LittlePat.ttf) format('truetype');
}

html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

.signIn {
  background-image: linear-gradient(
      to bottom,
      rgba(3, 241, 122, 0.5),
      rgba(22, 37, 255, 0.76)
    ),
    url('./assets/img/truck6.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 102.4%;
}

.card-panel .section-driver_image {
  position: relative;
}

.card-panel .section-driver_image a {
  position: absolute;
  right: 20px;
}

.card-panel .section-driver_info h4 {
  margin-top: -10px;
}

.card-panel .section-driver_info p {
  line-height: 5px;
}

.card-panel .section-driver_info .section {
  padding: 0.3rem 0 !important;
}

.user-view a:hover:not(:last-child) {
  cursor: default;
}

.wrapper {
  position: relative;
  height: 100vh;
}

.bottom {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 60px;
  justify-content: space-around;
  background-color: rgb(210, 218, 218);
  padding: 5px 0;
}

.bottom:hover {
  cursor: default;
}

.sidenav-text {
  font-size: 14px;
  font-weight: 500;
}

li.sidenav-text {
  padding: 0 32px;
}

.sidenav-text:hover {
  cursor: default;
}

label.focused {
  font-size: 14px !important;
  -webkit-transform: translateY(-70%);
  -moz-transform: translateY(-70%);
  -ms-transform: translateY(-70%);
  -o-transform: translateY(-70%);
  transform: translateY(-70%);
}

label.active {
  font-size: 14px !important;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
